<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!--
        <h1 class="logo">Accountably</h1> --}}
        <img src='data:image/png;base64,R0lGODlhFAAUAIAAAP///wAAACH5BAEAAAAALAAAAAAUABQAAAIRhI+py+0Po5y02ouz3rz7rxUAOw==' class="logo">
        <h5 class="sublogo">keeping your day organized</h5>
        <div class="content">
          <h3>Sign In:</h3>
          <form class="clearfix mb-4" action="POST">
            <div class="form-group" id="formUser">
              <label for="example-text">Username</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            </div>
            <div class="form-group" id="formPw">
              <label for="example-description">Password</label>
              <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
            </div>
            <button id="submit" class="btn btn-primary float-right">Login</button>

          </form>
        </div>
        <div class="signUp">
          <h5>New to Accountably?</h5>
          <h5>
            <a href="/">Sign up today!</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>