<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                {{!--
                <h1 class="logo">Accountably</h1> --}}
                <img src='data:image/png;base64,R0lGODlhFAAUAIAAAP///wAAACH5BAEAAAAALAAAAAAUABQAAAIRhI+py+0Po5y02ouz3rz7rxUAOw==' class="logo">
                <h5 class="sublogo">keeping your day organized</h5>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>