body, html {
  height: 100%;
  background: linear-gradient( #3fa2f3, #1971b9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

h2 {
  color: #eeeeee;
  text-shadow: 1px 1px 4px #4e4e4e;
  text-align: center;
}

h3 {
  color: #eeeeee;
  text-shadow: 1px 1px 4px #4e4e4e;
}

h5 {
  color: #eeeeee;
  text-align: center;
  text-shadow:1px 1px 3px #4e4e4e;
  margin-top: 10px;
}

label {
  color: #ffffff;
  text-shadow: 1px 1px 3px #4e4e4e;
}

.list-group-item {
  line-height: 2.5;
}

.home {
  background: linear-gradient( #3fa2f3, #1971b9);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logo {
  height: 102px!important;
  width: 300px!important;
  background-repeat: no-repeat!important;
  display: block!important;
  margin-left: 35%!important;
}

#logoCol {
  max-width: 600px!important;
}

.nav-item {
  color: #eeeeee !important;
  text-shadow:1px 1px 3px #4e4e4e !important;
  padding: 10px !important;
  font-size: 20px;
}

#navbar {
  margin-right: 16%!important;
  margin-top: -30px!important;
}

.content {
  margin-top: -30px;
}

.form-control {
  box-shadow: 1px 1px 2px #2758a1,
              -1px -1px 2px #2758a1;
  width: 600px !important;
  margin-left: 50%;
  margin-right: 50%;
}

.control-label {
  margin-left: 55%;
  margin-right: 45%;
  width: 200px;
}

#button {
  margin-left: 50%;
  margin-right: 50%;
}


#submit {
  box-shadow: 1px 1px 3px #4e4e4e;
  background: linear-gradient( #e7a516, #d69915);
  padding-left: 25px;
  padding-right: 25px;
}

#caleandar {
  background-color: #e9e9e9;
  width: 745px;
  height: 525px;
  margin-left: 20%;
  margin-right: 25%;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 1px 1px 3px #7a7a7a;
  box-shadow: -1px -1px 3px #7a7a7a;
}

#welcome {
  text-align: center;
  margin-bottom: 100px;
}

#goal {
  text-align: left;
  margin-left: 250px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.button {
  box-shadow: 1px 1px 3px #4e4e4e;
  background: linear-gradient( #e7a516, #d69915);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  color: white;
  border-color: #d69915;
}