body, html {
  height: 100%;
  background: linear-gradient( #3fa2f3, #1971b9);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
h3 {
  color: #eeeeee;
  text-shadow: 1px 1px 4px #4e4e4e;
}

label {
  color: #ffffff;
  text-shadow: 1px 1px 3px #4e4e4e;
}

.list-group-item {
  line-height: 2.5;
}

.home {
  background: linear-gradient( #3fa2f3, #1971b9);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.logo {
  height: 170px;
  width: 500px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

h5 {
  color: #eeeeee;
  text-align: center;
  text-shadow:1px 1px 3px #4e4e4e;
  margin-top: 10px;
}



.form-control {
  box-shadow: 1px 1px 2px #2758a1,
              -1px -1px 2px #2758a1;
}


#submit {
  box-shadow: 1px 1px 3px #4e4e4e;
  background: linear-gradient( #e7a516, #d69915);
  padding-left: 25px;
  padding-right: 25px;
}

#caleandar {
  background-color: #e9e9e9;
  width: 745px;
  height: 525px;
  margin-left: 20%;
  margin-right: 25%;
  border-radius: 5px;
  padding: 40px;
}

.button {
  box-shadow: 1px 1px 3px #4e4e4e;
  background: linear-gradient( #e7a516, #d69915);
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
  color: white;
  border-color: #d69915;
}